#ahome,#ahome2,#ahome3,#ahome4{
    width: 500px;
    height: 300px;
    margin: 10px;
    background-size: 100%;
    transition: all 0.5s;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: solid 2px rgb(31, 31, 31);
}
#ahome:hover,
#ahome2:hover,
#ahome3:hover,
#ahome4:hover {
    background-color: rgb(151, 151, 151);
    margin: 0px;
}
@media screen and (max-width: 425px){
    #ahome,
    #ahome2,
    #ahome3,
    #ahome4{
        width: 300px;
        height: 150px;
        display: inline-block;
    }
}

.btn-outline-white {
    color: #fff;
    border-color: #fff;
  }
  .btn-outline-white:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
  }
  .btn-outline-white:focus, .btn-outline-white.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.5);
}