* {
  font-family: 'Rubik', sans-serif;
}
header {
  position: relative;
  background-image: rgb(255, 255, 255);
  height: 93vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.699);
  opacity: 1;
  z-index: 1;
}
#carouselExampleControls{
  width: 100%;
  height: 50%;
}
.p{
  justify-content: space-between;
}
@media screen and (max-width: 768px){

  #carouselExampleControls{
    width: 100%;
    height: 100%;
  }
  .c{
    justify-content: center;
  }
  .p {
    justify-content: center;
  }
}