:root {
    /*color*/
    --pri-color: #252525;
    --sec-color: #ff0000;
    --ter-color: #af0404;
    --qua-color: #414141;
    --qui-color: #ffffff;
}

/*text color*/
.text-pri {
    color: var(--pri-color);
}
.text-sec {
    color: var(--sec-color);
}
.text-ter {
    color: var(--ter-color);
}
.text-qua {
    color: var(--qua-color);
}
.text-qui {
    color: var(--qui-color);
}

/*background*/
.bg-pri {
    background-color: var(--pri-color);
}
.bg-sec {
    background-color: var(--sec-color);
}
.bg-ter {
    background-color: var(--ter-color);
}
.bg-qua {
    background-color: var(--qua-color);
}
.bg-qui {
    background-color: var(--qui-color);
}

/*border*/
.border-pri {
    border:solid 2px var(--pri-color);
}
.border-sec {
    border:solid 2px var(--sec-color);
}
.border-ter {
    border:solid 2px var(--ter-color);
}
.border-qua {
    border:solid 2px var(--qua-color);
}
.border-qui {
    border:solid 2px var(--qui-color);
}

.border-b-pri {
    border-bottom: 1px solid var(--pri-color);
}
.border-b-sec {
    border-bottom: 1px solid var(--sec-color);
}
.border-b-ter {
    border-bottom: 1px solid var(--ter-color);
}
.border-b-qua {
    border-bottom: 1px solid var(--qua-color);
}
.border-b-qui {
    border-bottom: 1px solid var(--qui-color);
}

* {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
#exp {
    width: 100%;
}
#img {
    background-color: #aaaaaa;
    border:2px solid var(--qui-color);
    border-radius: 360px;
}
#pagina {
    border-radius: 12px;
    box-shadow: 0px 0px 100px var(--qua-color);
}
#psx {
    background-color: var(--ter-color);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
@media screen and (max-width: 768px) {

}
a {
   text-decoration: none !important;
   color: var(--qui-color);
   font-size: large;
}
a:hover {
    transition: all 0.3s;
    color: var(--qua-color);
}
#por {
   text-decoration: none !important;
   color: var(--qui-color);
   font-size: large;
}
#por:hover {
    transition: all 0.3s;
    color: var(--ter-color);
}
.fotoo {
    transition: all 0.4s;
}
.foto {
    width: 100% !important;
}
